.left-colums {
    width: 32%;
    height: 100%;
    float: left;
    margin-right: 5px;
}

.center-colums {
    width: 32%;
    height: 100%;
    float: left;
    margin-right: 5px;
}

.right-colums {
    width: 32%;
    height: 100%;
    float: left;
}