.leftColums {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 5px;
}

.centerColums {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 5px;
}

.rightColums {
    width: 33%;
    height: 100%;
    float: left;
}