.next-days-article {
    text-align: center;
    box-shadow: 2px 0 2px 2px;
}

.next-days-main {
    margin-bottom: 0.5rem;
}

.next-days {
    width: 11%;
    height: 43.7rem;
    margin-bottom: 1.3rem;
}