.btn {
    box-sizing: border-box;
    width: 100%;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0);
    border: 0.1em solid #000000;
    font-family: 'Roboto', sans-serif;
    transition: all 0.15s;
    font-size: 16px;
    box-shadow: 2px 2px 2px 2px;
}

.btn:hover {
    text-shadow: 0 0 2em rgba(255, 255, 255, 1);
    color: #ffffff;
    background-color: #01566b;
    box-shadow: 2px 2px 2px 2px #191a1b;
}

.btn-main {
    position: relative;
    top: 8px;
    width: 435px;
    height: 50px;
}

.btn-next-days {
    position: relative;
    top: 45px;
    height: 55px;
}