.weathersColFiveDaysForecast {
    width: 97%;
    height: 390px;
    padding: 10px;
    text-align: center;
    display: flex;
    margin: auto;
    background: url('../../backgroundImg/clear-air-fly-fantastic-travel_1232-3824.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.oneCol {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 5px;
    border: 1px solid darkblue;
}

.twoCol {
    width: 33%;
    height: 100%;
    float: left;
    margin-right: 5px;
    border: 1px solid black;
}

.threeCol {
    width: 33%;
    height: 100%;
    float: left;
    border: 1px solid red;
}

.fourCol {
    width: 33%;
    height: 100%;
    float: left;
    border: 1px solid pink;
}

.fiveCol {
    width: 33%;
    height: 100%;
    float: left;
    border: 1px solid blue;
}