.app {
  text-transform: capitalize;
  font-weight: bold;
}

.main {
  width: 100%;
  justify-content: space-around;
  margin: 0 0.7rem;
}

.main-article {
  text-align: center;
  box-shadow: 2px 0 2px 2px;
  float: left;
  margin: 0.3rem;
}

.next-days-main {
  margin: 0 2.1rem
}

.next-days {
  width: 11%;
  height: 43.7rem;
  margin-bottom: 1.3rem;
}

.forecast-for-all-day {
  padding: 0 1.3rem;
}

.forecast-for-all-day h1 {
  margin: 0 auto;
}

.all-days {
  width: 7rem;
  height: 31rem;
}

table {
  border-spacing: 0 0.6rem;
}

.underline {
  border-top: solid 2px #000;
}

.bolder {
  font-weight: bolder;
}

.background {
  background: url('./backgroundImg/clear-air-fly-fantastic-travel_1232-3824.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

h1 {
  text-align: center;
  margin-top: 0;
}

.wind {
  text-transform: none;
}