.search-term {
  width: calc(100% - 0.9%);
  height: 25px;
  border: 3px solid #006674;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #9DBFAF;
}

.search-term:focus {
  color: #00B4CC;
}