.search-term {
  width: 97.5%;
  margin: 0 12px;
  height: 25px;
  border: 0.1em solid #000000;
  outline: none;
  color: #9DBFAF;
  font-weight: 900;
}

.search-term:hover {
  color: #00292e;
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 2px 2px #191a1b;
}